<body>
        <div class="d-flex container bg-light flex-column px-5 pb-4 pt-2 col-md-3 rounded mt-4">
                <h1 class="text-center display-4 mb-3">Password Reset</h1>
                <div class="container">
                    <form [formGroup]="changeData">
                        <div class="form-group">
                            <input type="text" class="form-control lead" id="emailInput" placeholder="Email" formControlName="email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control lead" id="emailConfirm" placeholder="Confirm Email" formControlName="reemail">
                        </div>
                    </form>
                </div>
                <div class="wrapper text-center pt-3">
                    <button type="button" class="btn btn-primary" (click)="sendEmail()" [disabled]="!changeData.valid">Email me</button>
                </div>
                <a class="text-center mt-3" routerLink="/">
                    <small>Return to login</small>
                </a>
            </div>
        </body>
