<!-- Modal dimensions -->
<body>
  <div class="card border-dark" id="Post-Form">
    <h3 class="card-header text-white bg-site">Create New Post</h3>
    <div class="card-block mt-2">
      <div class="form-group m-3">
        <label for="organizationInput">Organization</label>
        <input type="text" class="form-control" id="organizationInput" aria-describedby="organizationHelp" placeholder="Enter organization name">
      </div>
      <div class="form-group m-3">
        <label for="eventNameInput">Event Name</label>
        <input type="text" class="form-control" id="eventNameInput" aria-describedby="eventNameHelp" placeholder="Enter event name">
      </div>
      <div class="form-group m-3">
          <label for="locationInput">Location</label>
          <input type="text" class="form-control" id="locationInput" aria-describedby="locationHelp" placeholder="Enter location">
      </div>
      <div class="form-group m-3">
          <label for="whenInputStart">Start</label>
          <input class="form-control" type="datetime-local" value="2018-10-31C12:00:00" id="whenInputStart">
          <label for="whenInputEnd">End</label>
          <input class="form-control" type="datetime-local" value="2018-10-31C12:00:00" id="whenInputEnd">
      </div>
      <div class="form-group p-3">
        <label for="description">Description</label>
        <textarea class="form-control col-md-12" rows="5" id="description"></textarea>
      </div>

      <button type="button" id="Post-Button"
      class="btn bg-site mb-4 text-white"
      (click)="add()"
      [disabled]="!newPost.organization || !newPost.eventName || !newPost.location
      || !newPost.Start || !newPost.description">Post</button>
    </div>
  </div>
</body>