@import url('https://fonts.googleapis.com/css?family=Lobster');

#appName  {
    font-family: 'Lobster', cursive;
    cursor: default;
}

navbar-background {
    background-color: #01B682;
}

postheading {
    font-size: 30vh;
}

h1 {
    display: inline-block; 
}

button {
    float: right;
}

#row-container{
    padding-left: 35px;
    padding-right: 35px;
}

#card-title {
    padding-top: 10px;
    padding-left: 10px;
}

.card-info {
    padding-left: 10px;
}