<div style="background-color: #01B682; width: 100vw">
  <navbar textcolor="text-white"></navbar>
</div>
<div class="container">
  <div class="container" style="height: 20vh">
      <h1 style="font-size: 10vh; margin-top: 5vh" id="appName">Posts</h1>
      <button type="button" class="btn text-white" style="background-color:#01B682; margin-top: 8.5vh"
        (click)="createNewPost()">Create New Post</button>
  </div>
</div>

<div class="row" *ngIf="posts">
  <div class="col-sm-4" *ngFor="let post of posts">
    <div class="card mb-4" style="height: 28rem;">
      <h1>hahahahah</h1>
      <!--
      <div class="p-3" style="max-width:100%; height:50%; justify-content: center;
      align-items: center;">
          <img class="card-img-top img-fluid" src="/src/images/{{product.imageName}}" 
          alt="product image" style="padding-right:20%; padding-left:20%;display:flex-box; height: 100%; max-width:100%; object-fit: contain">
          <div class="clearfix">
            <h4><span class="badge badge-pill badge-success float-right mr-2">{{product.price | currency:display:'symbol'}}</span></h4>
          </div>  
      </div>    
      -->
      <div class="card-body mt-2 mb-2">
        <div style="height: 20%">
          <h4 class="card-title" style="text-align: center">{{post.description}}</h4>
        </div>  
      </div>
    </div>
  </div>
</div>  

<div class="row">
  <div class="container" id="row-container">
    <div class="card border-dark" style="height: 15rem;">
      <h3 class="card-title" id="card-title">Event Name</h3>
      <h5 class="card-info">Organization Name</h5>
      <h5 class="card-info">Location</h5>
      <h5 class="card-info">Start Time</h5>
      <h5 class="card-info">End Time</h5>
      <p class="card-info p-3">Description....lorem ipsum stuff and stuff</p>
      <div id="button-group" style="position: absolute; top: 25%; right: 20px">
        <i class="fa fa-angle-up" style="font-size:36px"></i>
        <h5>100</h5>
        <i class="fa fa-angle-down" style="font-size:36px"></i>
      </div>
    </div>
  </div>
</div>  
