<div class="container p-3">
    <div class="alert alert-danger" [hidden]="loggedIn" role="alert">
            Wrong email or password.
    </div>
</div>
<div class="modal-body">
    <div class="form-group">
        <form [formGroup]="changeData">
            <div class="form-group">
                <input type="text" class="form-control lead" id="emailinput" placeholder="Email" formControlName="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control lead" id="passwdInput" placeholder="Password" formControlName="password">
            </div>
        </form>
            
    </div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary"  (click)="login()" [disabled]="!changeData.valid" data-dismiss="modal">Enter</button>
  <a class="text-center text-dark mb-3" routerLink="/reset" data-dismiss="modal">
    <small>Forgot your password?</small>
</a>
</div>

