<section id="one" class="wrapper">
  <div class="inner">
    <div class="flex flex-3">
      <article>
        <header>
          <h3>Magna tempus sed amet<br /> aliquam veroeros</h3>
        </header>
        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
        <footer>
          <a href="#" class="button special">More</a>
        </footer>
      </article>
      <article>
        <header>
          <h3>Interdum lorem pulvinar<br /> adipiscing vitae</h3>
        </header>
        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
        <footer>
          <a href="#" class="button special">More</a>
        </footer>
      </article>
      <article>
        <header>
          <h3>Libero purus magna sapien<br /> sed ullamcorper</h3>
        </header>
        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
        <footer>
          <a href="#" class="button special">More</a>
        </footer>
      </article>
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
  <div class="inner">
    <header>
      <h2>Ipsum Feugiat</h2>
      <p>Semper suscipit posuere apede</p>
    </header>
    <div class="flex flex-4">
      <div class="box person">
        <div class="image round">
          <img src="/src/images/Placeholder.png" alt="Person 1" />
        </div>
        <h3>Magna</h3>
        <p>Cipdum dolor</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="/src/images/Placeholder.png" alt="Person 2" />
        </div>
        <h3>Ipsum</h3>
        <p>Vestibulum comm</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="/src/images/Placeholder.png" alt="Person 3" />
        </div>
        <h3>Tempus</h3>
        <p>Fusce pellentes</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="/src/images/Placeholder.png" alt="Person 4" />
        </div>
        <h3>Dolore</h3>
        <p>Praesent placer</p>
      </div>
    </div>
  </div>
</section>