@import url('https://fonts.googleapis.com/css?family=Lobster');

#appName {
    font-family: 'Lobster', cursive;
}

body {
    background: #000000 url("/src/images/test.jpg") repeat top right;   
}

.test {
    background-color: rgba(200, 200, 200, 0.75);
}