

<body>
 
    <navbar textcolor="text-black"></navbar>     
    <div class="container">
    <h1 class="site-heading text-center text-black d-none d-lg-block">
      <span class="site-heading-lower text-white">Our Story</span>
    </h1>
    
    <div class="d-flex justify-content-center">
     
    <!-- <div class="col-md-6 mb-5 card border-0" style="background-color: rgba(245, 245, 245, 0);">
      <img class="card-img-top" src="/src/images/product.jpg" alt="Card image cap" >

  </div> -->
  <div class= "test  mb-5 ">
  <div class="card border-0" style="background-color: rgba(245, 245, 245, 0);">
    <div class="card-body">
    
      <blockquote class="pull-right">
        <p>
          Our hope is to allow universities, their college services and organizations to advertise themselves to students through offering affordable food. 
            Currently, SMU is our main client. Our target audience will include college services and students.
          </p>
   </blockquote>
   
    </div>
  </div>
</div>
  </div>

    <div class="card-group ">
      <div class="card col-md-4 border-0" style="background-color: rgba(245, 245, 245, 0);">
        <img class="card-img-top" src="/src/images/victoria.jpg" fluid alt="Responsive image" width="300" height="280">
        <div class=" test card-body">
          <h5 class="card-title">Victoria Vo</h5>
          <p class="card-text">Chief Executive Officer and Senior Front End Specialist</p>
          
        </div>
      </div>
      <div class="card col-md-4 border-0" style="background-color: rgba(245, 245, 245, 0);">
        <img class="card-img-top" src="/src/images/natalie.jpg" fluid alt="Responsive image" width="300" height="280">
        <div class="test card-body">
          <h5 class="card-title">Natalie Noakes</h5>
          <p class="card-text">Vice Preisdent of Operations and Software Engineering</p>
         
        </div>
      </div>
 
      <div class="card col-md-4 border-0" style="background-color: rgba(245, 245, 245, 0);">
        <img class="card-img-top" src="/src/images/2.jpg" fluid alt="Responsive image" width="500" height="280">
        <div class="test card-body">
          <h5 class=" card-title">Muaz Abrar</h5>
          <p class="card-text">Chief Technology Officer and Security Consultant</p>
         
        </div>
      </div>
      <div class="card col-md-4 border-0" style="background-color: rgba(245, 245, 245, 0);">
        <img class="card-img-top" src="/src/images/will.PNG" fluid alt="Responsive image" width="300" height="280">
        <div class="test card-body">
          <h5 class="card-title">Will Lacey</h5>
          <p class="card-text">Senior Back end Specialist and Skating Aficionado</p>
         
        </div>
      </div>
    </div>
  


    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; On The House 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </div>

  </body>