<body>
    
        <div class="d-flex flex-column justify-content-center w-100">
                
        
                <div class="my-auto container rounded">
                    <div class="d-flex">
                        <div id="appName" class="mx-auto text-black">
                            <h1 class="display-2">
                                On The House
                            </h1>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="m-auto">
                            
                        </div>
                    </div>
                    <div id="Quote" class="mt-3 p-3 d-flex">
                        <h4 class="mx-auto text-black lead">
                            Description of our app..
                        </h4>
                    </div>
                    <div class="bg mx-auto rounded"></div>
                </div>
            </div>


</body>