<body>
        <div class="d-flex flex-column justify-content-center w-100">
                <!-- <navbar textcolor="text-black"></navbar>      -->
        
                <div class="my-auto container rounded">
                    <div class="d-flex">
                        <div id="appName" class="mx-auto text-black">
                            <h1 class="display-2">
                                On The House
                            </h1>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="m-auto">
                            
                        </div>
                    </div>
                    <div id="Quote" class="mt-3 p-3 d-flex">
                         <!-- <h4 class="mx-auto text-black lead">
                            Welcome
                        </h4> -->
                    </div>
                    <div class="wrapper text-center p-3">
                        <button type="button" class="btn btn-dark btn-lg btn-block"  data-toggle="modal" data-target="#loginModal">Login</button>
                    </div>
                    <div class="wrapper text-center p-3">
                         <button type="button" class="btn btn-dark btn-lg btn-block" data-toggle="modal" data-target="#signupModal">Sign Up</button>
                    </div>
                    <div class="bg mx-auto rounded"></div>
                </div>
            </div>

            <div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="loginModalLong">Login</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <app-login></app-login>
                        <!-- <div class="modal-body">
                                <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                         <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                      </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Enter</button>
                        </div> -->
                      </div>
                    </div>
            </div>
            <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="signupModalLong">Sign Up</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <app-signup></app-signup>
                        </div>
                    </div>
                </div> 

            <footercustom textcolor="text-black"></footercustom>
              
</body>
