.card-info {
    padding-left: 10px;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

i.upvote:focus {
    color: green;
}

i.upvote:hover {
    color: darkgreen;
}

i.downvote:focus {
    color: red;
}

i.downvote:hover {
    color: darkred;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');

.appName  {
    font-family: 'Lobster', cursive;
    cursor: default;
}

.post-background {
    border: none;
    border-radius: 15px;
    background-color: rgba(1, 182, 130, 0.50);
}

#ad-distinguisher{
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
}

#ad-title{
    font-size: 40px;
    position: absolute;
    top: 0px;
    color: black;
}

#ad-image { 
    display : none; 
}

#ad-container:hover #ad-image{ 
    display : block; 
}