<ng-template #notEmpty>
    <div class="card-body bg-light">
        <div class="container" id="row-container">
            <div class="card border-dark" style="height: 15rem;">
                <h3 class="card-title" id="card-title">AD</h3>
                <h5 class="card-info">Organized by: {{advert?.name}}</h5>
                <h5 class="card-info">Location: {{advert?.location}}</h5>
                <h5 class="card-info">Start Time: {{advert?.link}}</h5>
                    
                <p class="card-info">Description: {{post?.information}}</p>
            </div>
        </div>
    </div>
<br>
</ng-template>