<div class="breadcrumb" id="noposts" *ngIf="posts?.length == 0; else notEmpty">Be the first to add a post!</div>
<ng-template #notEmpty>
    <div class="card" *ngFor="let post of posts; let i = index;" >
            <div class="card-body bg-light">
            <div class="container" id="row-container">
                    <div class="card border-dark" style="height: 15rem;">
                      <h3 class="card-title" id="card-title">{{post?.eventName}}</h3>
                      <h5 class="card-info">Organized by: {{post?.organization}}</h5>
                      <h5 class="card-info">Location: {{post?.location}}</h5>
                      <h5 class="card-info">Start Time: {{post?.startTime | date:'medium' }}</h5>
                      <h5 class="card-info">End Time: {{post?.endTime | date:'medium' }}</h5>
                      <p class="card-info">Description: {{post?.description}}</p>
                      <div id="button-group" style="position: absolute; top: 25%; right: 20px">
                        <i class="fa fa-angle-up" style="font-size:36px" [class.positive]="post.votes > 0"
                        (click)="upvote(post)"></i>
                        <h5>{{post?.votes}}</h5>
                        <i class="fa fa-angle-down" style="font-size:36px" [class.negative]="post.votes < 0"
                        (click)="downvote(post)"></i>
                      </div>
                    </div>
                  </div>
            </div>
    </div>
    <br>
</ng-template>