<p>
  signup works!
</p>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-faded justify-content-between">
        <a class="text-black h4" id="AppName" routerLink="/">Ad‌&#243;nde</a>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="d-inline text-black" routerLink="/">Home
                        <span class="sr-only"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--
    <div class="d-flex container bg-light flex-column px-0 pb-4 pt-2 col-md-3 rounded mt-4">
        <div class="alert alert-danger p-3 m-3 text-center" [hidden]="!failure" role="alert">
            Something went wrong. <br> Please try again.
        </div>
        <div class="alert alert-success p-3 m-3 text-center" [hidden]="!success" role="alert">
                Success!
        </div>
        <h1 class="text-center display-4 mb-3">Sign Up</h1>
        <div class="container">
            <form [formGroup]="changeData">
                <div class="form-group">
                    <input type="text" class="form-control lead" id="nameInput" placeholder="Name" formControlName="userName">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control lead" id="emailInput" placeholder="Email" formControlName="email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control lead" id="emailConfirm" placeholder="Confirm Email" formControlName="reemail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control lead" id="passwordInput" placeholder="Password" formControlName="password">
                </div>
            </form>
        </div>
        <div class="wrapper text-center pt-3">
            <button type="button" class="btn btn-primary" (click)="signup()" [disabled]="!changeData.valid">Sign Up</button>
        </div>
        <a class="text-center mt-3" routerLink="/login">
            <small>Return to login</small>
        </a>
    </div> 
  -->
</body>